//= require utils/reset
//= require_self
//= require home

@import 'utils/all'
@import 'variables'

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }

html
  font-size: 62.5%

body
  position: relative
  font-size: 1.8em

a { color: hotpink }
a:focus, a:hover { color: hotpink }

// General -------------------------------------------------------------------
